<div class="item-preview">
  <div class="image">
    <%= image_tag(item.image.preview.url, alt: item.name) %>
  </div>
  <div class="info">
    <div class="name"><%= item.name %></div>
  </div>
</div>