<div class="item-preview">
  <div class="image">
    <%= link_to_shop_item item, image_tag(item.image.preview.url, alt: item.name) %>
  </div>
  <div class="info">
    <div class="name"><%= link_to_shop_item item %></div>
  </div>
</div>