<% content_for :meta_title, t('.title', page: current_page) %>

<article class="orders">
  <h1><%= t('.header') %></h1>

  <%= paginate @collection %>
  <%= render partial: 'orders/list', locals: { orders: @collection } %>
  <%= paginate @collection %>
</article>
