<% if categories.any? %>
    <ul class="categories-list">
      <% categories.each do |category| %>
          <li><%= render partial: 'shop/categories/preview', locals: { category: category } %></li>
      <% end %>
    </ul>

<% end %>
