<% if categories.any? %>
    <ul>
      <% categories.each do |category| %>
          <li><%= render partial: 'shop/categories/preview', locals: { category: category } %></li>
      <% end %>
    </ul>
<% else %>
    <%= render 'shared/nothing_found' %>
<% end %>
