article.edit-item {
  form {
    fieldset {
      ul {
        margin: 0;
        padding: 0;

        li {
          margin: 0 0 0 1rem;
          padding: 0;
          list-style: none;
        }
      }
    }
  }
}

ul.items-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;

  > li {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 33%;
  }
}

.item-preview {
  margin: 0.25rem;
  padding: 0.5rem;
  background: #F7F7F7;

  .image {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 13rem;
  }

  .info {
    .name {
      font-size: 1.25rem;
      font-family: 'PT Serif', serif;
      font-weight: bold;
    }

    .price {
      font-weight: bold;
      font-size: 1.5rem;

      &:after {
        content: ' ₽';
      }
    }

    .cart-control {
      button {
        width: 100%;
        font-size: 1.25rem;
        line-height: 1.75rem;
      }
    }
  }
}


@media screen and(max-width: 930px) {
  ul.items-list > li {
    width: 50%;
  }
}

@media screen and(max-width: 690px) {
  ul.items-list > li {
    width: 100%;
  }
}

