article.edit-item {
  form {
    fieldset {
      ul {
        margin: 0;
        padding: 0;

        li {
          margin: 0 0 0 1rem;
          padding: 0;
          list-style: none;
        }
      }
    }
  }
}

ul.items-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;

  > li {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 33%;
  }
}

.item-preview {
  margin: 0.25rem;
  padding: 0.5rem;
  background: #F7F7F7;

  .image {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 13rem;
  }

  .info {
    .name {
      font-size: 1.25rem;
      font-family: 'PT Serif', serif;
      font-weight: bold;
    }

    .price {
      font-weight: bold;
      font-size: 1.5rem;

      &:after {
        content: ' ₽';
      }
    }

    .cart-control {
      button {
        width: 100%;
        font-size: 1.25rem;
        line-height: 1.75rem;
      }
    }
  }
}

@media screen and(max-width: 930px) {
  ul.items-list > li {
    width: 50%;
  }
}

@media screen and(max-width: 690px) {
  ul.items-list > li {
    width: 100%;
  }
}

.shop-item {
  .main-data {
    display: flex;
    flex-wrap: wrap;

    figure {
      margin: 0 1rem 0 0;
      padding: 0;
      width: 40%;

      img {
        width: 100%;
      }
    }

    > div {
      margin: 1rem 0 0 0;

      .brand {
        font-size: 1.25rem;

        &:first-letter {
          text-transform: uppercase;
        }

        span {
          font-weight: bold;
        }
      }

      .price {
        font-size: 1.25rem;

        &:first-letter {
          text-transform: uppercase;
        }

        span {
          font-weight: bold;
          color: #330000;

          &:after {
            content: ' ₽';
          }
        }
      }

      .cart-control {
        button {
          font-size: 1.5rem;
          line-height: 2rem;
        }
      }

      .item-categories {
        margin: 1rem 0 0 0;

        div {
          font-size: 1.25rem;
          font-variant: small-caps;
        }

        ul {
          margin: 0;
          padding: 0 0 0 1.5rem;
        }
      }
    }
  }
}

@media screen and(max-width: 600px) {
  .shop-item {
    .main-data {
      figure {
        margin: 0;
        width: 100%;
      }
    }
  }
}