html {
  font-family: 'PT Sans', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

body {
  outline: solid gold 1px;
  min-width: 20rem;
  max-width: 64rem;
  margin: 0 auto;
  padding: 0;

  > header {
    .logo-and-cart {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    nav.main {
      ul {
        margin: 0;
        padding: 0;
        display: flex;
        flex-wrap: wrap;

        li {
          list-style: none;
          line-height: 2rem;
          padding: 0 0.5rem;
        }
      }
    }
  }
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-variant: small-caps;
  font-family: 'PT Serif', serif;
}

h1:first-letter {
  text-transform: uppercase;
}

a:link, a:visited {
  color: #214a92;
}

#main {
  display: flex;
  flex-wrap: wrap;

  div.content {
    width: calc(100% - 15rem);

    > article {
      padding: 0.5rem;
    }
  }
}

form {
  margin: 0;
  padding: 0;

  label {
    display: inline-block;

    &:first-letter {
      text-transform: uppercase;
    }
  }

  input, textarea {
    max-width: calc(100% - 1rem);
  }
}

th:first-letter {
  text-transform: uppercase;
}

div.notice {
  background: #eeffee image_url('icons/notice.png') no-repeat 0.5rem 0.5rem / 2rem 2rem;
  padding: 1rem 1rem 1rem 3rem;
  color: #004000;
  border: dashed #ddeedd 1px;
  margin: 0 0 0.5rem 0;
}

div.warning {
  background: #ffffee image_url('icons/warning.png') no-repeat 0.5rem 0.5rem / 2rem 2rem;
  padding: 1rem 1rem 1rem 3rem;
  color: #404000;
  border: dashed #eeeedd 1px;
  margin: 0 0 0.5rem 0;
}

div.alert {
  background: #ffeeee image_url('icons/alert.png') no-repeat 0.5rem 0.5rem / 2rem 2rem;
  padding: 1rem 1rem 1rem 3rem;
  color: #400000;
  border: dashed #eedddd 1px;
  margin: 0 0 0.5rem 0;
}
