<div class="categories">
  <nav>
    <ul>
      <% Category.visible.ordered_by_priority.each do |category| %>
          <li><%= link_to category.name, category %></li>
      <% end %>
    </ul>
  </nav>
</div>
