<% if categories.any? %>
    <ul>
      <% categories.each do |category| %>
          <li>
            <%= link_to_shop_category category %>
            <%= render partial: 'categories/tree', locals: { categories: Category.level(category.id, true) } %>
          </li>
      <% end %>
    </ul>
<% end %>
