<nav class="main">
  <ul>
    <li>About</li>
    <li><%= link_to t('shop.items.index.header'), shop_items_path %></li>
    <li><%= link_to t('shop.categories.index.title'), shop_categories_path %></li>
    <% if current_user.is_a? User %>
        <% if current_user_has_role? :administrator %>
            <li><%= link_to t('admin.index.title'), admin_path %></li>
        <% end %>
        <li><%= link_to t('.logout'), logout_path, method: :delete %></li>
    <% end %>
  </ul>
</nav>
